body, html {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f08080;
  user-select: none;
}

@font-face {
  font-family: 'Dongle-Bold';
  src: local('Dongle-Bold'),url(fonts/Dongle-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Dongle-Regular';
  src: local('Dongle-Regular'),url(fonts/Dongle-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Dongle-Light';
  src: local('Dongle-Light'),url(fonts/Dongle-Light.ttf) format('truetype');
}

#logo {
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  background: #FFF;
  color: #b25656;
  position: absolute;
  top: 0px;
  font-weight: 800;
  transform: rotate(10deg);
  clip-path: polygon(50% 0%, 57.22% 6.71%, 66.23% 2.71%, 70.89% 11.40%, 80.71% 10.54%, 82.29% 20.27%, 91.86% 22.65%, 90.20% 32.37%, 98.47% 37.73%, 93.74% 46.38%, 99.83% 54.13%, 92.55% 60.78%, 95.79% 70.08%, 86.75% 74.01%, 86.79% 83.86%, 76.96% 84.64%, 73.80% 93.97%, 64.25% 91.51%, 58.23% 99.32%, 50% 93.89%, 41.77% 99.32%, 35.75% 91.51%, 26.20% 93.97%, 23.04% 84.64%, 13.21% 83.86%, 13.25% 74.01%, 4.21% 70.08%, 7.45% 60.78%, 0.17% 54.13%, 6.26% 46.38%, 1.53% 37.73%, 9.80% 32.37%, 8.14% 22.65%, 17.71% 20.27%, 19.29% 10.54%, 29.11% 11.40%, 33.77% 2.71%, 42.78% 6.71%);
}

.filter {
  position: relative;
  z-index: 900;
  top: 0px;
  width: 100%;
}

#filter-dialog {
  display: none;
  padding: 15px 0px 0px 15px;
  background: #b25656;
}

.toggle-on {
  display: block !important;
}

.filter-offer, .filter-cat, .filter-shop {
  margin: 0px 15px 15px 0px;
  display: inline-block;
  background: #FFF;
  padding: 5px 0px 0px 5px;
  border-radius: 15px;
}

.filter-cat span, .filter-shop span, .filter-offer span {
  display: inline-block;
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
  margin: 0px 5px 5px 0px;
  font-size: .8em;
  font-weight: 800;
  cursor: pointer;
}

.filter-cat::before {
  content: "product";
  text-transform: uppercase;
  padding: 5px 10px 5px 5px;
  font-size: .8em;
  font-weight: 800;
  color: #b25656;
}
.filter-shop::before {
  content: "winkel";
  text-transform: uppercase;
  padding: 5px 10px 5px 5px;
  font-size: .8em;
  font-weight: 800;
  color: #b25656;
}
.filter-offer::before {
  content: "korting";
  text-transform: uppercase;
  padding: 5px 10px 5px 5px;
  font-size: .8em;
  font-weight: 800;
  color: #b25656;
}

.filter-offer span {
  background: #ededed;
  color: #696969;
}

.filter-cat span {
  background: #ededed;
  color: #696969;
}

.filter-shop span {
  background: #ededed;
  color: #696969;
}

#active-shop {
  background: #FFF !important;
  color: #000 !important;
  box-shadow: inset 0px 0px 0px 3px #000;
}

#active-offer {
  background: #FFF !important;
  color: #000 !important;
  box-shadow: inset 0px 0px 0px 3px #000;
}

.filter-button {
  background: #b25656;
  color: #FFF;
  padding: 0px 15px 0px 15px;
  line-height: 45px;
  text-align: center;
  cursor:pointer;
  position: relative;
  z-index: 900;
  margin: 0px auto;
  width: 150px;
}

.info  {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  color: #FFF;
  text-shadow: 2px 3px #b25656;
  text-align: center;
  margin: 0px auto;
  max-width: 1200px;
  padding: 15px;
  text-transform: uppercase;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 15px 0px 0px 15px;
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  80% { opacity: 0;}
  100% {opacity: 1;}
}

.flex-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 3px 3px 0px 0px #b25656;
  margin: 0px 15px 15px 0px;
  width: 250px;
  position: relative;
}

.shop-ah {
  background: #E0EEFF;
  color: #0c237b;
}

.shop-jumbo {
  background: #fafad8;
  color: #8f6705;
}

.product-image {
  background: #FFF;
  display: block;
  overflow: hidden;
  height: 100px;
  text-align: center;
  margin: 10px 10px 0px 10px;
  border-radius: 8px;
}
.product-image img {
  width: 150px;
  height: 150px;
  transform: scale(2);
}

.product-name { 
  display: block;
  padding: 15px;
  font-weight: 800;
  overflow-wrap: break-word;

}
.product-info { 
  font-weight: 300;
  font-size: .8em;
  overflow-wrap: break-word;
}

.product-deal { 
  padding: 15px;
  display: block;
  text-align: center;
  color: #000;
  background: #FFF;
}
.product-price::before {
  content:"€";
}
.product-price { 
  background: #fff;
  border-radius: 4px;
  top: 5px;
  color: #000;
  font-weight: 800;
  line-height: 20px;
  position: absolute;
  right: 5px;
  text-align: center;
  font-size: .7em;
  padding: 0px 5px 0px 5px;
}

.product-date-end::before {
  content: "tot ";
}
.product-date-end {
  background: #fff;
  border-radius: 4px;
  top: 5px;
  color: #000;
  font-weight: 800;
  line-height: 20px;
  position: absolute;
  left: 5px;
  text-align: center;
  font-size: .7em;
  padding: 0px 5px 0px 5px;
}

.deal-one-free {}
.deal-second-half-price {}
.deal-percentage-off {}




