body, html {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-size: 20px;
  font-family: monospace;
  background: lightcoral;
}

.flex-container {
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 15px 0px 0px 15px;
}

.flex-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 0px #000;
  margin: 0px 15px 15px 0px;
  width: 200px;
  position: relative;
}

.shop-ah {
  background: #E0EEFF;
  color: #0c237b;
  box-shadow: 0px 0px 0px 1px #000;
}

.shop-jumbo {
  background: #fafad8;
  color: #8f6705;
  box-shadow: 0px 0px 0px 1px #8f6705;
}

.product-name { 
  display: block;
  padding: 15px;
  font-weight: 800;
  overflow-wrap: break-word;

}
.product-info { 
  font-weight: 300;
  font-size: .8em;
  overflow-wrap: break-word;
}

.product-deal { 
  padding: 15px;
  font-size: 1.2em;
  display: block;
  text-align: center;
  color: #000;
}
.product-price { 
  background: #FFF;
  color: #000;
  position: absolute;
  bottom: -10px;
  right: -10px;
  border-radius: 8px;
  line-height: 35px;
  width: 70px;
  text-align: center;
  font-weight: 800;
  box-shadow: 0px 0px 0px 1px #000;
}

.deal-one-free {}
.deal-second-half-price {}
.deal-percentage-off {}




