name: run-parse-offers-test

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_run:
    workflows: ["deploy-to-gh-pages"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v2

      - name: pull unrelated histories
        run: |
          git pull --allow-unrelated-histories

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8.2'
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install requests bs4
          
      - name: execute py script
        run: |
          cd parse_offers
          python3 -m unittest -b -v